<% layout('/layouts/boilerplate') -%>  

    <h1> Login to Wanderlust </h1>
    

        <form action="/login"  method="Post" class="needs-validation" novalidate>

<div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id="username" name="username" 
        
        type="text"
        class="form-control" 
         required>
        <div class="valid-feedback">Looks good</div>
       
      </div>
<div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" name="password" type="password" class="form-control" required>
        <div class="valid-feedback">Looks good</div>
        
      </div>

      

        
       <button class="btn btn-success"> Login  </button>
    </form>

    </div>
</div>